@import "../../../styles/variables";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  .nav-item {
    margin-right: 15px;

    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #000000;

      .summit-logo {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        background-image: url("../../../images/mountain-circle-logo.jpg");
        background-size: cover;
      }
      .summit-title {
        font-size: 27px;
        margin-left: 10px;
      }
    }
  }
  .nav-item:last-of-type {
    margin-right: 0px;
  }
  .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-icon {
      font-size: 43px;
      color: $accent;
    }
    .profile-pic {
      height: 36px;
      width: 36px;
      border-radius: 18px;
    }
    .logout-btn {
      color: #555555;
      font-size: 36px;
    }
    .back-btn {
      font-size: 28px;
      background-color: #555555;
      color: $accent;
      padding: 1px 3px;
      border-radius: 5px;
    }
  }
}
