<div class="star-container" *ngIf="trail?.stars < 1; else setOne">
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="lstar far fa-star"></i>
  <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
</div>
<ng-template #setOne>
  <div *ngIf="trail?.stars < 2; else setTwo">
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="lstar far fa-star"></i>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>
<ng-template #setTwo>
  <div class="star-container" *ngIf="trail?.stars < 3; else setThree">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="lstar far fa-star"></i>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>
<ng-template #setThree>
  <div class="star-container" *ngIf="trail?.stars < 4; else setFour">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    <i class="lstar far fa-star"></i>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>
<ng-template #setFour>
  <div class="star-container" *ngIf="trail?.stars < 5; else setFive">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="lstar far fa-star"></i>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>
<ng-template #setFive>
  <div class="star-container" *ngIf="trail?.stars == 5">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="lstar fas fa-star"></i>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>