<div class="star-container" *ngIf="trail?.stars < 1; else setOne">
  <mat-icon>star_border</mat-icon>
  <mat-icon>star_border</mat-icon>
  <mat-icon>star_border</mat-icon>
  <mat-icon>star_border</mat-icon>
  <mat-icon class="lstar">star_border</mat-icon>
  <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
</div>
<ng-template #setOne>
  <div *ngIf="trail?.stars < 2; else setTwo">
    <mat-icon>star</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon class="lstar">star_border</mat-icon>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>
<ng-template #setTwo>
  <div class="star-container" *ngIf="trail?.stars < 3; else setThree">
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon class="lstar">star_border</mat-icon>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>
<ng-template #setThree>
  <div class="star-container" *ngIf="trail?.stars < 4; else setFour">
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star_border</mat-icon>
    <mat-icon class="lstar">star_border</mat-icon>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>
<ng-template #setFour>
  <div class="star-container" *ngIf="trail?.stars < 5; else setFive">
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon class="lstar">star_border</mat-icon>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>
<ng-template #setFive>
  <div class="star-container" *ngIf="trail?.stars == 5">
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon class="lstar">star</mat-icon>
    <p>{{ trail?.stars + ' stars ' + ' (' + trail?.starVotes + ' ratings)' }}</p>
  </div>
</ng-template>