<mat-toolbar class="navbar">
	<div class="nav-item">
		<a class="nav-link" routerLink="/home">
			<div class="summit-logo"></div>
			<div class="summit-title">S U M M I T</div>
		</a>
	</div>
	<div class="nav-left">
		<div class="nav-item">
			<a class="nav-link" routerLink="/profile">
				<mat-icon [inline]="true" aria-hidden="false" aria-label="profile icon" class="profile-icon">account_circle</mat-icon>
			</a>
		</div>
		<div class="nav-item">
			<a class="nav-link logout" routerLink="">Logout</a>
		</div>
	</div>
</mat-toolbar>
