<mat-toolbar class="navbar">
	<div>Hicking Trails App</div>
	<div>
		<span class="navlink">
			<a routerLink="search">Search</a>
		</span>
		<span class="navlink">
			<a routerLink="profile">Profile</a>
		</span>
		<span class="navlink">
			<a routerLink="">Logout</a>
		</span>
	</div>
</mat-toolbar>
<h1>Search Trails</h1>
<mat-form-field>
	<input matInput type="text" [(ngModel)]="zip">
</mat-form-field>

<button mat-raised-button (click)="searchTrails()">Search</button> 

<app-trail-list [trails]="trails"></app-trail-list>
