.trail-search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 850px;
	background-image: url('../images/mountain-fog-forest.jpg');
	background-size: cover;
	font-family: 'Quicksand', sans-serif;

	.search-title {
		font-size: 50px;
		color: #ffffff;
		margin-bottom: 40px;
	}
	.search-bar {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ffffff;
		padding: 10px 45px;
		border-radius: 5px;

		.search-btn {
			margin-left: 10px;
		}
		.search-input {
			height: 30px;
		}
	}
}

