.page {
    width: 100%;
    height: 100%;
    display: flex;

    .left {
        width: 50%;
        height: 100%;
        background-color: #DADFEA;

        .ltop {
            width: 100%;
            height: 50%;

            .profile-icon {
                font-size: 250px;
                color: darkgray;
                text-align: center;
                margin-top: 25%;
            }

            .change {
                text-align: center;
                margin-top: -70px;
            }

        }

        .lbottom {
            width: 100%;
            height: 50%;

            .info {
                text-align: center;
                font-size: 25px;

                .name {
                    margin: 35px;
                }
            }

        }
    }

    .right {
        width: 50%;
        height: 100%;
        background-color: gray;
        display: flex;

        .favorites {
            height: 100%;
            width: 50%;
            border-right: 1px solid black;
            text-align: center;
        }

        .completed {
            height: 100%;
            width: 50%;
            text-align: center;
        }
    }


}