<app-navbar></app-navbar>

<div class="page">
    <div class="left">
        <div class="info">
            <div class="ltop">
                <mat-icon [inline]="true" aria-hidden="false" aria-label="profile icon" class="profile-icon">account_circle</mat-icon>
                <div class="change"><a href="">Change</a></div>
            </div>
            <div class="lbottom">
                <div class="info">
                    <div class="name">username123</div>
                    <div class="email">example@email.com</div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="favorites">
            <div class="fav-title">
                Favorites
            </div> 
            <div class="trails">
                <app-trail-item-small *ngFor="let trail of popularTrails" [trail]="trail"></app-trail-item-small>
            </div>
        </div>
        <div class="completed">
            <div class="completed-title">
                Completed
            </div>
            <div class="trails">
                <app-trail-item-small *ngFor="let trail of popularTrails" [trail]="trail"></app-trail-item-small>
            </div>
        </div>
    </div>
</div>
