<app-navbar></app-navbar>

<div class="page">
    <div class="left">
        <div class="ltop">
            <mat-icon [inline]="true" aria-hidden="false" aria-label="profile icon" class="profile-icon">account_circle</mat-icon>
            <div class="change"><a href="">Change</a></div>
        </div>
        <div class="lbottom">
            <div class="info">
                <div class="name">Users name</div>
                <div class="email">Email</div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="favorites">
            Favorite Trails
        </div>
        <div class="completed">
            Completed Trails
        </div>
    </div>
</div>
