<app-navbar [logout]="logout"></app-navbar>

<div class="profile">
  <div class="user-info">
    <img [src]="user.photoURL" class="profile-img" alt="profile picture">
    <div class="name">{{ user.displayName}}</div>
    <div class="email">{{ user.email }}</div>
  </div>
  <div class="user-trails">
    <div class="trail-group">
      <div class="title">Favorites</div>
      <div class="trails">
        <app-trail-item-small *ngFor="let trail of favoriteTrails" [trail]="trail"></app-trail-item-small>
      </div>
    </div>
    <div class="trail-group">
      <div class="title">Completed</div>
      <div class="trails">
        <app-trail-item-small *ngFor="let trail of completedTrails" [trail]="trail"></app-trail-item-small>
      </div>
    </div>
  </div>
</div>
