<app-navbar [logout]="logout"></app-navbar>

<div class="profile">
  <div class="user-info">
    <img src="https:lh3.googleusercontent.com/a-/AOh14Gg-Sn379rQUm1kb6vFDOuZ9OkshMQBg8i4H1mKmQQ" class="profile-img" alt="profile picture">
    <div class="name">Nick Boyd</div>
    <div class="email">nickjohnboyd@email.com</div>
  </div>
  <div class="user-trails">
    <div class="trail-group">
      <div class="title">Favorites</div>
      <div class="trails">
        <app-trail-item-small *ngFor="let trail of favoriteTrails" [trail]="trail"></app-trail-item-small>
      </div>
    </div>
    <div class="trail-group">
      <div class="title">Completed</div>
      <div class="trails">
        <app-trail-item-small *ngFor="let trail of completedTrails" [trail]="trail"></app-trail-item-small>
      </div>
    </div>
  </div>
</div>
