.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../../../images/pink-sky.jpg);
  background-size: cover;

  .summit-title {
    font-size: 60px;
    margin-bottom: 60px;
    letter-spacing: 5px;
  }
  .loginBox {
    border-radius: 5px;
    width: 370px;
    height: 350px;
    background-color: #FFFFFF;
    // box-shadow: 10px 10px 5px #A6A6A6;

    .title {
      border-bottom: 1px solid #E8E8E8;

      h1 {
        text-align: center;
        margin: 15px 0;
      }
    }
    mat-form-field {
      width: 100%;
      margin: 5px 0;
    }
    .infoField {
      display: flex;
      width: 50%;
      margin: auto;
    }
    .loginButton {
      display: flex;
      margin: 10px auto auto auto;
      width: 50%;
    }
    .normal {
      width: 25%;
      margin: auto;
    }
    .google {
      margin: 10px auto;
      display: flex;
      color: white;
      background-color: #D95350;
    }
    .create {
      text-align: center;
      margin: 30px auto 10px auto;
    }  
  }
}