<div class="box">
	<div class="summit-title">S U M M I T</div>
	<div class="loginBox">
		<div class="title">
			<h1>Login</h1>
		</div>
		<!-- <div class="infoField">
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput type="text">
			</mat-form-field>
		</div>
		<div class="infoField">
			<mat-form-field>
				<mat-label>Password</mat-label>
				<input matInput type="text">
			</mat-form-field>
		</div>
			<div class="loginButton">
				<button mat-raised-button (click)="login()" [routerLink]="['/home']" class="normal">Login</button>
			</div> -->
		<div>
			<button mat-raised-button class="google" (click)="googleLogin()">Login with Google</button>
			<!-- <div class="create">No account yet? <a href="">Create an account</a></div> -->
		</div>
	</div>
</div>