.difficulty {
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
}
.very-difficult{
  background-color: #191919;
}
.difficult{
  background-color: #49484a;
}
.intermediate {
  background-color: #06c;
}
.easy {
  // background-color: #588f00;
  background-color:#ec6e4c;
}