@import "../../../styles/mixins.scss";
@import "../../../styles/variables";

.trail-title {
  @include flex-jc-ac();
  height: 50px;
  margin: 0;
  margin: 25px 0 25px 0;
  font-size: 40px;
  font-weight: bold;
}
.details-container {
  @include flex-jse-ac();
  flex-flow: row wrap;
  width: calc(100% - 100px);
  margin: 0 55px 55px 55px;
  border-radius: 4px;
  .left {
    @include flex-jc-ac-fdc();
    align-items: flex-start;
    flex: 1 0 600px;
    height: 900px;
    max-width: 900px;
    margin: 7px;
    margin-bottom: 30px;
  }
  .right {
    @include flex-jc-ac-fdc();
    align-items: flex-start;
    height: 900px;
    margin: 7px;
    margin-bottom: 30px;
    .app-current-weather, .app-user-inputs {
      width: 380px;
    }
  }
  .bottom {
    @include flex-jse-ac-fdc();
    height: 100%;
    width: 100%;
    max-width: 1400px;
    .upper-bottom {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-radius: 4px;
      background-color: $accent;
      .app-daily-weather {
        @include flex-jc-ac();
        width: 100%;
      }
    }
    .bottom-bottom {
      height: 100%;
      width: 100%;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 1127px) {
  .details-container {
    .left {
      flex: 0 0 600px;
      width: 600px;
    }
  }
}