<app-navbar></app-navbar>
<h2 class="trail-title">{{ currentTrail?.name }}</h2>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading" class="details-container">
  <div class="left">
    <app-trail-information [currentTrail]="currentTrail" [mapImg]="mapImg"></app-trail-information>
  </div>
  <div class="right">
    <app-current-weather class="app-current-weather" [currentWeather]="currentWeather" [currentTrail]="currentTrail"></app-current-weather>
    <app-user-inputs class="app-user-inputs"></app-user-inputs>
  </div>
  <div class="bottom">
    <div class="upper-bottom">
      <app-daily-weather class="app-daily-weather" [dailyWeather]="dailyWeather"></app-daily-weather>
    </div>
    <div class="bottom-bottom">
      <app-comments></app-comments>
    </div>
  </div>
</div>