.search-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e6e6e6;
	width: 100%;

	.search-btn {
		margin-left: 10px;
	}
	.search-input {
		height: 30px;
		caret-color: #000000;
	}
}