@mixin flex-jc-ac() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-jc-ac-fdc() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-jse-ac() {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-jse-ac-fdc() {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

@mixin box-shadow() {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}