<div class="details-container">
  <div class="left">
    <div class="upper-left">
      <h2 class="trail-title">{{ currentTrail?.name }}</h2>
      <div class="images-details">
        <div class="favorite">
          <i class="far fa-heart"></i>
        </div>
        <img src="{{ currentTrail?.imgMedium }}" alt="">
        <img src="{{ url }}" alt="">
      </div>
    </div>
    <div class="lower-left">
      <app-trail-difficulty [trail]='currentTrail'></app-trail-difficulty>
      <app-trail-rating [trail]='currentTrail'></app-trail-rating>
      <div class="lower-left-content">

        <h3>{{ currentTrail?.summary }}</h3>
        <p>type: {{ currentTrail?.type }}</p>
        <p>location: {{ currentTrail?.location }}</p>
        <p>url: {{ currentTrail?.url }}</p>
        <p>length: {{ currentTrail?.length }}</p>
        <p>ascent: {{ currentTrail?.ascent }}</p>
        <p>descent: {{ currentTrail?.descent }}</p>
        <p>high: {{ currentTrail?.high }}</p>
        <p>low: {{ currentTrail?.low }}</p>
        <p>conditionStatus: {{ currentTrail?.conditionStatus }}</p>
        <p>conditionDetails: {{ currentTrail?.conditionDetails }}</p>
        <p>conditionDate: {{ currentTrail?.conditionDate }}</p>
      </div>
    </div>
  </div>
  <div class="right">
    
  </div>
</div>