<app-navbar></app-navbar>
<div class="details-container">
  <div class="left">
    <div class="upper-left">
      <h2 class="trail-title">{{ currentTrail?.name }}</h2>
      <div class="images-details">
        <div class="favorite">
          <i class="far fa-heart"></i>
        </div>
        <img *ngIf="currentTrail?.imgMedium; else displayDefault" src="{{ currentTrail?.imgMedium }}">
        <ng-template #displayDefault>
          <img src="{{ defaultTrail }}">
        </ng-template>
        <img src="{{ mapImg }}" alt="">
      </div>
    </div>
    <div class="lower-left">
      <app-trail-difficulty [trail]='currentTrail'></app-trail-difficulty>
      <app-trail-rating [trail]='currentTrail'></app-trail-rating>
      <div class="lower-left-content">
        <h3>{{ currentTrail?.summary }}</h3>
        <p>type: {{ currentTrail?.type }}</p>
        <p>location: {{ currentTrail?.location }}</p>
        <p>url: {{ currentTrail?.url }}</p>
        <p>length: {{ currentTrail?.length }}</p>
        <p>ascent: {{ currentTrail?.ascent }}</p>
        <p>descent: {{ currentTrail?.descent }}</p>
        <p>high: {{ currentTrail?.high }}</p>
        <p>low: {{ currentTrail?.low }}</p>
        <p>conditionStatus: {{ currentTrail?.conditionStatus }}</p>
        <p>conditionDetails: {{ currentTrail?.conditionDetails }}</p>
        <p>conditionDate: {{ currentTrail?.conditionDate }}</p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="current-weather">
      <div class="left-weather">
        <h2 class="current-weather-title">Current Weather for {{ currentTrail?.location }}</h2>
        <div class="center">
          <img class="current-weather-icon" src="{{ currentWeatherIcon }}" alt="">
          <p>{{ currentWeather?.temp }}°F</p>
        </div>
        <p class="icon-description">{{ currentWeather?.weather[0].description }}</p>
      </div>
      <div class="right-weather">
        <div class="current-details">
          <h3 class="current-details-title">Details</h3>
          <p>Feels Like: {{ currentWeather?.feels_like }}°F</p>
          <p>Wind: {{ currentWeather?.wind_speed }} m/h</p>
          <p>Wind Degree: {{ windDirection }}</p>
          <p>Humidity: {{ currentWeather?.humidity }}%</p>
          <p>Pressure: {{ currentWeather?.pressure }} hPa</p>
          <p>Sunrise: {{ sunRise }}</p>
          <p>Sunset: {{ sunSet }}</p>
        </div>
      </div>
    </div>
    <div class="hourly-weather"></div>
    <div class="daily-weather"></div>
  </div>
</div>