@import "../mixins.scss";

.trail-title {
  @include flex-jc-ac();
  height: 50px;
  margin: 0;
  margin: 25px 0 25px 0;
  font-size: 40px;
  font-weight: bold;
}
.details-container {
  @include flex-jse-ac();
  flex-flow: row wrap;
  width: calc(100% - 100px);
  margin: 0 50px 0 50px;
  .left {
    @include flex-jc-ac-fdc();
    flex: 1 0 600px;
    height: 1000px;
    max-width: 900px;
    margin: 7px;
    .upper-left {
      @include flex-jc-ac-fdc();
      // @include box-shadow();
      height: 50%;
      width: 100%;
      // background-color: #dadfea;
      .images-details {
        @include flex-jc-ac();
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        .favorite {
          position: absolute;
          top: 25px;
          left: 25px;
          font-size: 25px;
          color: white;
        }
        img {
          height: auto;
          width: calc(50% - 20px);
          min-height: 210px;
          max-height: 259px;
          max-width: 430px;
          // margin-bottom: 5px;
          // height: 250px;
          // width: 430px;
          margin: 10px;
        }
      }
    }
    .middle-left {
      // @include box-shadow();
      height: 100%;
      width: 100%;
      margin-bottom: 15px;
      // background-color: #dadfea;
      .app-trail-difficulty {
        margin-bottom: 20px;
      }
      .app-trail-rating {
        margin-bottom: 20px;
      }
      .middle-left-content {
        @include flex-jc-ac-fdc();
        h3 {
          height: 70px;
          font-size: 25px;
          text-align: center;
        }
        .trail-information {
          @include flex-jse-ac();
          height: 200px;
          width: 100%;
          margin-bottom: 15px;
          .miles-long {
            @include flex-jse-ac();
            height: 100%;
            width: 50%;
            font-size: 20px;
            .fa-hiking {
              margin-right: 30px;
              font-size: 30px;
            }
          }
          .other-information {
            @include flex-jse-ac-fdc();
            height: 100%;
            width: 50%;
            .icons {
              @include flex-jse-ac();
              width: 60%;
              justify-content: space-between;
              .fa-mountain {
                // margin-right: 20px;
                font-size: 20px;
              }
              p{
                margin: 0;
                font-size: 18px;
              }
            }
          }
        }
        .conditions {
          @include flex-jse-ac-fdc();
          height: 110px;
          width: 100%;
          padding: 2.5px 0 2.5px 0;
          // background-color: #ec6e4c;
          h3 {
            margin: 0;
            font-size: 25px;
            font-weight: bold;
          }
          .condition-status {
            @include flex-jse-ac-fdc();
            height: 100%;
            width: 100%;
            .condition {
              font-weight: bold;
              font-size: 16px;
            }
            p {
              margin: 0;
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }
    }
    .lower-left {
      width: 100%;
      .daily-weather {
        // @include box-shadow();
        height: 100%;
        width: 100%;
        // background-color: #dadfea;
        .daily-container {
          @include flex-jc-ac-fdc();
          padding: 5px;
          .day-daily {
            @include flex-jse-ac();
            justify-content: space-between;
            width: 100%;
            font-size: 13px;
            .day {
              width: 100%;

              p {
                width: 100%;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
              }
            }
            .day-weather {
              width: 100%;
              .max {
                font-weight: bold;
                font-size: 13px;
              }
              img {
                width: 100%;
              }
              p {
                width: 100%;
                text-align: center;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .right {
    @include flex-jc-ac-fdc();
    height: 1000px;
    width: 400px;
    margin: 7px;
    .current-weather {
      @include flex-jc-ac();
      // @include box-shadow();
      height: 100%;
      width: 100%;
      margin-bottom: 15px;
      // background-color: #dadfea;
      .left-weather {
        @include flex-jc-ac-fdc();
        height: 100%;
        width: 60%;
        padding: 10px;
        .current-weather-icon {
          height: auto;
          width: 100px;
        }
        .current-weather-title {
          width: 100%;
          font-size: 30px;
          text-align: center;
        }
        .icon-description {
          font-size: 25px;
        }
        .center {
          @include flex-jc-ac();
          p {
            font-size: 40px;
            font-weight: bold;
          }
        }
      }
      .right-weather {
        @include flex-jc-ac-fdc();
        height: 100%;
        width: 40%;
        // background-color: #b3b9c7;
        .current-details {
          font-size: 12px;
          p {
            padding-left: 15px;
            margin-bottom: 8px;
          }
          .current-details-title {
            padding-left: 8px;
            font-size: 20px;
            border-bottom: 1px solid black;
          }
        }
      }
    }
    .user-input {
      height: 100%;
      width: 100%;
    }
    .user-comments {
      height: 100%;
      width: 100%;
    }
  }
  .bottom {
    @include flex-jse-ac-fdc();
    // @include box-shadow();
    height: 100%;
    width: 100%;
    max-width: 1500px;
    // background-color: #dadfea;
    .upper-bottom {
      margin: 7px;
      width: 100%;
      .campgrounds-outer {
        margin: 25px 7px 25px 7px;

        .campground-title {
          width: 100%;
          font-size: 20px;
          text-align: center;
          padding: 10px 0 10px 0;
          // background-color: #b3b9c7;
        }
        .campgrounds-container {
          @include flex-jse-ac();

          .campgrounds {
            @include flex-jc-ac-fdc();
            flex-direction: column;
            width: 33.3333333%;
            height: 100%;
            p {
              margin: 0;
              margin-bottom: 2px;
              font-size: 13px;
            }
            img {
              height: auto;
              width: 200px;
              min-height: 97px;
              max-height: 97px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    .lower-bottom {
      height: 200px;
      width: 100%;
      margin: 7px;
      .hourly-weather {
        // @include box-shadow();
        height: 100%;
        width: 100%;
        margin: 7px;
        // background-color: #dadfea;
        h3 {
          width: 100%;
          margin: 0;
          padding: 10px 0 10px 0;
          font-size: 20px;
          text-align: center;
          // background-color: #b3b9c7;
        }
        .hourly-container {
          @include flex-jse-ac-fdc();
          padding: 5px;
          .hour-weather {
            @include flex-jse-ac();
            justify-content: space-between;
            width: 100%;
            // margin-bottom: 10px;
            font-size: 13px;
            p {
              width: 100%;
              text-align: center;
              font-size: 15px;
              font-weight: bold;
              margin: 0px;
            }
          }
          .hourly {
            @include flex-jc-ac-fdc();
            width: 100%;
            img {
              width: 50%;
            }
            p {
              width: 100%;
              padding: 0;
              margin: 0;
              text-align: center;
              font-size: 13px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1244px) {
  .details-container {
    .left {
      flex: 0 0 600px;
      width: 600px;
    }
  }
}

@media screen and (max-width: 900px) {
  .details-container {
    .left {
      .upper-left {
        .trail-title {
        }
        .images-details {
          img {
          }
        }
      }
      .lower-left {
      }
    }
    .right {
    }
  }
}

@media screen and (max-width: 600px) {
  .details-container {
    .left {
      .upper-left {
        .trail-title {
        }
        .images-details {
          img {
            width: 300px;
            height: 150px;
            margin-bottom: 10px;
          }
        }
      }
      .lower-left {
      }
    }
    .right {
    }
  }
}
