<app-navbar></app-navbar>
<h2 class="trail-title">{{ currentTrail?.name }}</h2>
<div class="details-container">
  <div class="left">
    <div class="upper-left">
      <div class="images-details">
        <div class="favorite">
          <i class="far fa-heart"></i>
        </div>
        <img *ngIf="currentTrail?.imgMedium; else displayDefault" src="{{ currentTrail?.imgMedium }}">
        <ng-template #displayDefault>
          <img src="{{ defaultTrail }}">
        </ng-template>
        <img src="{{ mapImg }}" alt="">
      </div>
    </div>
    <div class="middle-left">
      <app-trail-difficulty [trail]='currentTrail'></app-trail-difficulty>
      <app-trail-rating [trail]='currentTrail'></app-trail-rating>
      <div class="middle-left-content">
        <h3>{{ currentTrail?.summary + ' This trail is located in ' +  currentTrail?.location }}</h3>
        <div class="trail-information">
          <p><i class="fas fa-hiking"></i> Length: {{ currentTrail?.length }} miles long</p>
          <p><i class="fas fa-mountain"></i>Ascent: {{ currentTrail?.ascent }}'</p>
          <p><i class="fas fa-mountain"></i>Descent: {{ currentTrail?.descent }}'</p>
          <p><i class="fas fa-mountain"></i>High: {{ currentTrail?.high }}'</p>
          <p><i class="fas fa-mountain"></i>Low: {{ currentTrail?.low }}'</p>
        </div>

        <div class="conditions">
          <h3>Condition Status Report Below</h3>
          <div class="condition-status">
            <p>Status: {{ currentTrail?.conditionStatus }}</p>
            <p>Details: {{ currentTrail?.conditionDetails }}</p>
            <p>Date: {{ currentTrail?.conditionDate }}</p>
          </div>
        </div>
        <!-- <h3>{{ currentTrail?.summary }}</h3>
        <p>type: {{ currentTrail?.type }}</p>
        <p>location: {{ currentTrail?.location }}</p>
        <p>url: {{ currentTrail?.url }}</p>
        <p>length: {{ currentTrail?.length }}</p>
        <p>ascent: {{ currentTrail?.ascent }}</p>
        <p>descent: {{ currentTrail?.descent }}</p>
        <p>high: {{ currentTrail?.high }}</p>
        <p>low: {{ currentTrail?.low }}</p>
        <p>conditionStatus: {{ currentTrail?.conditionStatus }}</p>
        <p>conditionDetails: {{ currentTrail?.conditionDetails }}</p>
        <p>conditionDate: {{ currentTrail?.conditionDate }}</p> -->
      </div>
    </div>
    <div class="lower-left">
      <h3 class="campground-title">Campgrounds Nearby</h3>
      <div class="campgrounds-container">
        <div class="campgrounds" *ngFor="let campground of campgrounds">
          <img src="{{ campground.imgUrl }}" alt="">
          <p>Name: {{ campground.name }}</p>
          <p>Location: {{ campground.location }}</p>
          <p>Number of Campsites: {{ campground.numCampsites }}</p>
  
  
          <!-- 
  
  imgUrl: "https://www.rei.com/assets/camp/images/campground-placeholder-image/live.png"
  isBookable: true
  isCampground: true
  latitude: 40.1317
  location: "Mapleton, Utah"
  longitude: -111.5269
  name: "Whiting"
  numCampsites: 16
  url: "https://www.rei.com/campgrounds/camp/115194993/whiting"
  
           -->
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="current-weather">
      <div class="left-weather">
        <h2 class="current-weather-title">Current Weather for {{ currentTrail?.location }}</h2>
        <div class="center">
          <img class="current-weather-icon" src="{{ currentWeatherIcon }}" alt="">
          <p>{{ currentWeather?.temp }}°F</p>
        </div>
        <p class="icon-description">{{ currentWeather?.weather[0].description }}</p>
      </div>
      <div class="right-weather">
        <div class="current-details">
          <h3 class="current-details-title">Details</h3>
          <p>Feels Like: {{ currentWeather?.feels_like }}°F</p>
          <p>Wind: {{ currentWeather?.wind_speed }} m/h</p>
          <p>Wind Degree: {{ windDirection }}</p>
          <p>Humidity: {{ currentWeather?.humidity }}%</p>
          <p>Pressure: {{ currentWeather?.pressure }} hPa</p>
          <p>Sunrise: {{ sunRise }}</p>
          <p>Sunset: {{ sunSet }}</p>
        </div>
      </div>
    </div>
    <div class="hourly-weather"></div>
    <div class="daily-weather"></div>
  </div>
</div>