@import "../mixins.scss";
@import "../variables.scss";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.trail-title {
  @include flex-jc-ac();
  height: 50px;
  margin: 0;
  margin: 25px 0 25px 0;
  font-size: 40px;
  font-weight: bold;
}
.details-container {
  @include flex-jse-ac();
  flex-flow: row wrap;
  width: calc(100% - 100px);
  margin: 0 55px 55px 55px;
  border-radius: 4px;
  .left {
    @include flex-jc-ac-fdc();
    flex: 1 0 600px;
    height: 900px;
    max-width: 900px;
    margin: 7px;
    .upper-left {
      @include flex-jc-ac-fdc();
      width: 100%;
      .images-details {
        @include flex-jc-ac();
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        .favorite {
          position: absolute;
          top: 25px;
          left: 25px;
          font-size: 25px;
          color: white;
        }
        img {
          height: auto;
          width: calc(50% - 20px);
          min-height: 210px;
          max-height: 210px;
          max-width: 430px;
          margin: 10px;
          border-radius: 4px;
        }
      }
    }
    .middle-left {
      height: 100%;
      width: 100%;
      margin-bottom: 15px;
      .app-trail-difficulty {
        margin-bottom: 20px;
        margin-left: 1.2%;
        margin-right: 1.2%;
      }
      .app-trail-rating {
        margin-bottom: 20px;
      }
      .middle-left-content {
        @include flex-jc-ac-fdc();
        h3 {
          @include flex-jc-ac();
          height: 80px;
          font-size: 22px;
          text-align: center;
        }
        .trail-information {
          @include flex-jse-ac();
          height: 300px;
          width: 100%;
          margin-bottom: 15px;
          .miles-long {
            @include flex-jse-ac();
            height: 100%;
            width: 50%;
            font-size: 20px;
            .fa-hiking {
              margin-right: 30px;
              font-size: 30px;
            }
          }
          .other-information {
            @include flex-jse-ac-fdc();
            height: 100%;
            width: 50%;
            .icons {
              display: flex;
              align-items: center;
              width: 60%;
              .fa-mountain {
                margin-right: 40px;
                font-size: 20px;
              }
              p {
                margin: 0;
                font-size: 18px;
              }
            }
          }
        }
        .conditions {
          @include flex-jse-ac-fdc();
          height: 125px;
          width: 95%;
          padding: 10px;
          background-color: $primary;
          border-radius: 4px;
          h3 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
          }
          .condition-status {
            @include flex-jse-ac-fdc();
            height: 100%;
            width: 100%;
            .condition {
              font-weight: bold;
              font-size: 16px;
            }
            p {
              margin: 0;
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .right {
    @include flex-jc-ac-fdc();
    height: 900px;
    width: 380px;
    margin: 7px;
    .current-weather {
      @include flex-jc-ac();
      height: 250px;
      width: 100%;
      margin-bottom: 15px;
      border-radius: 4px;
      background-color: #f1ccc8;
      .left-weather {
        @include flex-jc-ac-fdc();
        height: 100%;
        width: 60%;
        .current-weather-icon {
          height: auto;
          width: 100px;
        }
        .current-weather-title {
          width: 100%;
          font-size: 22px;
          text-align: center;
        }
        .icon-description {
          font-size: 20px;
        }
        .center {
          @include flex-jc-ac();
          p {
            font-size: 30px;
            font-weight: bold;
          }
        }
      }
      .right-weather {
        @include flex-jc-ac-fdc();
        height: 100%;
        width: calc(40% - 15px);
        .current-details {
          font-size: 12px;
          p {
            padding-left: 15px;
            margin-bottom: 8px;
          }
          .current-details-title {
            padding-left: 8px;
            font-size: 20px;
            border-bottom: 1px solid black;
          }
        }
      }
    }
    .user-input {
      height: 600px;
      width: 100%;
      margin-bottom: 15px;
      background-color: $primary;
      border-radius: 4px;
      .user-rating {
        @include flex-jc-ac-fdc();
        height: 100px;
        fieldset, label { 
          margin: 0; padding: 0;
        }
        .rating { 
          border: none;
          float: left;
        }
        .rating > input { display: none; } 
        .rating > label:before { 
          margin: 5px;
          font-size: 1.25em;
          font-family: FontAwesome;
          display: inline-block;
          content: "\f005";
        }
        .rating > .half:before { 
          content: "\f089";
          position: absolute;
        }
        .rating > label { 
          color: #ddd; 
          float: right; 
        }
        .rating > input:checked ~ label,
        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label { color: #FFD700;  }
        .rating > input:checked + label:hover,
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label,
        .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
      }
      .rate-difficulty {
        @include flex-jse-ac-fdc();
        height: 300px;
        button {
          width: 300px;
          color: white;
        }
        .easy {
          background-color: #588f00;
        }
        .intermediate {
          background-color: #06c;
        }
        .difficult {
          background-color: #2a2a2a;
        }
        .very-difficult {
          background-color: #191919;
        }
      }
      .favorites-completed {
        @include flex-jc-ac-fdc();
        height: 170px;
        button {
          width: 300px;
          i {
            font-size: 20px;
            margin-right: 10px;
          }
        }
        .favorites {
          background-color: $accent;
          margin-bottom: 20px;
        }
        .completed {
          background-color: $accent;
        }
      }
    }
  }
  .bottom {
    @include flex-jse-ac-fdc();
    height: 100%;
    width: 100%;
    max-width: 1400px;
    .upper-bottom {
      @include flex-jc-ac();
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-radius: 4px;
      background-color: $accent;
      .daily-weather {
        height: 100%;
        width: 70%;
        .daily-container {
          @include flex-jc-ac-fdc();
          padding: 5px;
          .day-daily {
            @include flex-jse-ac();
            justify-content: space-between;
            width: 100%;
            font-size: 13px;
            .day {
              width: 100%;
              p {
                width: 100%;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
              }
            }
            .day-weather {
              width: 100%;
              .max {
                font-weight: bold;
                font-size: 13px;
              }
              img {
                width: 100%;
              }
              p {
                width: 100%;
                text-align: center;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .lower-bottom {
      height: 100%;
      width: 100%;
      margin: 40px;

      .campground-title {
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
      }
      .campgrounds-container {
        @include flex-jse-ac();
        .campgrounds {
          @include flex-jc-ac-fdc();
          flex-direction: column;
          width: 33.3333333%;
          height: 100%;
          .campground {
            font-size: 16px;
            font-weight: bold;
          }
          p {
            margin: 0;
            margin-bottom: 10px;
            font-size: 15px;
          }
          img {
            height: auto;
            width: 175px;
            min-height: 120px;
            max-height: 120px;
            margin-bottom: 15px;
            border-radius: 4px;
          }
          button {
            margin-top: 15px;
            background-color: $accent;
          }
        }
      }
    }
    .bottom-bottom {
      height: 100%;
      width: 100%;
      margin-top: 30px;
      .comments-container {
        height: 100%;
        padding: 50px 5% 50px 5%;
        border-radius: 4px;
        background-color: $primary;
        .comment-input {
          @include flex-jse-ac();
          justify-content: flex-start;
          height: 10%;
          mat-form-field {
            width: calc(100% - 50px);
            margin-left: 20px;
          }
          a {
            @include flex-jc-ac();
            text-decoration: none;
            .profile-icon {
              height: 100%;
              color: $accent;
              font-size: 50px;
            }
          }
        }
      }
      .comment-submit {
        @include flex-jse-ac();
        justify-content: flex-end;
        button {
          margin-right: 10px;
          margin-bottom: 15px;
        }
      }
      .comments-section {
        .user-comment {
          @include flex-jse-ac();
          justify-content: flex-start;
          height: 60px;
          a {
            @include flex-jc-ac();
            text-decoration: none;
            mat-icon {
              font-size: 50px;
              color: $accent;
            }
          }
          .comment {
            margin-left: 10px;
            p {
              height: 100%;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1244px) {
  .details-container {
    .left {
      flex: 0 0 600px;
      width: 600px;
    }
  }
}

@media screen and (max-width: 900px) {
  .details-container {
    .left {
      .upper-left {
        .trail-title {
        }
        .images-details {
          img {
          }
        }
      }
      .lower-left {
      }
    }
    .right {
    }
  }
}

@media screen and (max-width: 600px) {
  .details-container {
    .left {
      .upper-left {
        .trail-title {
        }
        .images-details {
          img {
            width: 300px;
            height: 150px;
            margin-bottom: 10px;
          }
        }
      }
      .lower-left {
      }
    }
    .right {
    }
  }
}

// .hourly-weather {
//   // @include box-shadow();
//   height: 100%;
//   width: 100%;
//   margin: 7px;
//   // background-color: #dadfea;
//   h3 {
//     width: 100%;
//     margin: 0;
//     padding: 10px 0 10px 0;
//     font-size: 20px;
//     text-align: center;
//     // background-color: #b3b9c7;
//   }
//   .hourly-container {
//     @include flex-jse-ac-fdc();
//     padding: 5px;
//     .hour-weather {
//       @include flex-jse-ac();
//       justify-content: space-between;
//       width: 100%;
//       // margin-bottom: 10px;
//       font-size: 13px;
//       p {
//         width: 100%;
//         text-align: center;
//         font-size: 15px;
//         font-weight: bold;
//         margin: 0px;
//       }
//     }
//     .hourly {
//       @include flex-jc-ac-fdc();
//       width: 100%;
//       img {
//         width: 50%;
//       }
//       p {
//         width: 100%;
//         padding: 0;
//         margin: 0;
//         text-align: center;
//         font-size: 13px;
//         font-weight: normal;
//       }
//     }
//   }
// }
