.difficulty {
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.very-difficult{
  background-color: #191919;
}
.difficult{
  background-color: #2a2a2a;
}
.intermediate {
  background-color: #06c;
}
.easy {
  background-color: #588f00;
}