@import "../variables.scss";

mat-card {
  padding: 0;
  width: 350px;
  height: 475px;
  margin: 25px;
  text-align: center;
  background-color: $primary;
  transition: transform .1s;

  .favorite {
    position: absolute;
    top: 15px; 
    left: 15px;
    color: white;
    font-size: 25px;
  }
  img {
    height: 250px;
    width: 100%;
    margin: 0px;
    border-radius: 4px;
  }
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  mat-card-title {
    font-size: 21px;
    margin-bottom: 15px;
  }
  mat-card-footer {
    position: absolute;
    bottom: 25px;
    left: 22%;
  }
}
mat-card:hover {
  cursor: pointer;
  transform: scale(1.01);
}