.trail-search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - 70px);
	background-image: url('../../../../images/mountain-sunrise.jpg');
	background-size: cover;

	.search-title {
		font-size: 50px;
		color: #ffffff;
		margin-bottom: 40px;
	}
	.search-bar {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ffffff;
		padding: 10px 45px;
		border-radius: 5px;

		mat-label {
			color: #707070;
		}
		.search-btn {
			margin-left: 10px;
		}
		.search-input {
			height: 30px;
			caret-color: #000000;
		}
	}
}

