<div class="trail-search">
	<div class="search-title">Discover Your Journey</div>
	<div class="search-bar">
		<mat-form-field>
			<mat-label>Search by zip</mat-label>
			<input matInput type="text" [(ngModel)]="zip" class="search-input" (keyup.enter)="search()">
		</mat-form-field>
		<button mat-raised-button class="search-btn" routerLink="/trails/{{ this.zip }}" color="accent">
			<mat-icon aria-hidden="false" aria-label="search icon" class="search-icon">search</mat-icon>
		</button>
	</div>
</div>